//
// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant
//


@function shellopacity($c, $a) {
  @return scale-color($c, $alpha: percentage(-1 + $a));
}

// Import key colour-scheme defined at build-time.
@import 'key_colors';


//
// A Color palette
//
// Pop uses the System76 palette

$almost_white:      #f2f2f2;
$warm_gray:         #574f4a;
$dark_gray:         #574e4a;
$dark_neutral_gray: #333;
$light_gray:        #999;
$literally_black:   #000;
$medium_gray:       #888;
$white:             #fff;


// Brand Colors
$orange: #faa41a; // Pantone 137c  #eaa124
$blue:   #48b9c7; // Pantone 7709c #62b5bb
$yellow: #ffce51; // Pantone 1225c #f2c150
$red:    #f15d22; // Pantone 1665c #df6426
$green:  #73c48f; // Confirmation/success

$black: $key_background_color;
$light_orange: mix($orange, $white, 50%);

//
// Foreground colors
//

$fg_color: if($nokto == 'false', $black,
                                   $almost_white);                   // = BluGry100

$secondary_fg_color: shellopacity($fg_color, 0.75);

$dim_fg_color: shellopacity($fg_color, 0.4);

$selected_fg_color: $almost_white;
$secondary_selected_fg_color: shellopacity($selected_fg_color, 0.85);

$insensitive_fg_color: shellopacity($fg_color, 0.4);
$insensitive_secondary_fg_color: shellopacity($secondary_fg_color, 0.4);


//
// Inverted foreground colors
//

$inverted_fg_color: if($nokto == 'false', $almost_white, $black);
$inverted_secondary_fg_color: shellopacity($inverted_fg_color, 0.75);
$inverted_dim_fg_color: shellopacity($inverted_fg_color, 0.4);


//
// Background colors
//

$bg_color: if($nokto == 'false', mix($almost_white,  $white,     50%), // = W _ 50
                            mix($black, $dark_neutral_gray, 50%));
$base_color: if($nokto == 'false', $almost_white,    // = White
                            mix($black, $dark_neutral_gray, 40%));
$secondary_base_color: if($nokto == 'false', $almost_white, $black);
$secondary_dark_color: if($nokto == 'false', darken($almost_white, 0.1), darken($black, 0.1));

$fill_color: shellopacity($fg_color, 0.15);
$semi_fill_color: shellopacity($fg_color, 0.07);
$hidden_fill_color: rgba(0, 0, 0, 0.01);
$menuentry_hidden_fill_color: if($nokto == 'false',
                                 rgba(255, 255, 255, 0.01),
                                 rgba(0, 0, 0, 0.01));

$panel_bg_color: mix($black, $literally_black, 25%);
$panel_hidden_fill_color: shellopacity($panel_bg_color, 0.01);
$panel_fill_color: $panel_bg_color;

//
// Inverted background colors
//

$inverted_bg_color: if($nokto == 'false', $black, $almost_white);
$inverted_base_color: $black;
$inverted_dim_bg_color: shellopacity($inverted_bg_color, 0.2);

//
// Selection (content) colors
//

// Default: #48B9C7                                         // = Content1
$selected_bg_color:                    $key_selection_color;
// Default: #48B9C7                                               // = Content2
$secondary_selected_bg_color:          shellopacity($selected_bg_color, 0.8);
$selected_bg_label_color:           if($variant == 'light',
                                           mix($selected_bg_color, $fg_color, 80%),
                                           mix($selected_bg_color, $fg_color, 60%));
$insensitive_selected_bg_label_color: shellopacity($selected_bg_label_color, 0.4);
$secondary_selected_bg_color:       shellopacity($selected_bg_color, 0.9);
$secondary_selected_bg_label_color: shellopacity($secondary_selected_bg_color, 0.9);

$inverted_selected_bg_label_color:     mix($selected_bg_color, $inverted_fg_color, 60%);
$inverted_secondary_selected_bg_label_color:   shellopacity($white, 0.9);

$selected_bg_fill_color: shellopacity($selected_bg_color, 0.1);
$selected_bg_active_fill_color: shellopacity($selected_bg_color, 0.25);

$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_fill_color: shellopacity($fill_color, 0.4);

//
// Accent colors
//

$accent_color: $key_accent_color;
$accent_label_color: if($nokto == 'false',
                        mix($key_accent_color, $fg_color, 80%),
                        mix($key_accent_color, $fg_color, 60%));
$secondary_accent_color: shellopacity($accent_color, 0.8);
$secondary_accent_label_color: shellopacity($accent_label_color, 0.8);
$insensitive_accent_label_color: shellopacity($accent_label_color, 0.4);

$accent_fill_color: shellopacity($accent_color, 0.1);
$accent_active_fill_color: shellopacity($accent_color, 0.25);

$inverted_accent_label_color: if($nokto == 'false',
                              mix($key_accent_color, $inverted_fg_color, 60%),
                              mix($key_accent_color, $fg_color, 60%));
$inverted_secondary_accent_label_color:
  shellopacity($inverted_accent_label_color, 0.8);


//
// Misc colors
//

$borders_color: if($nokto == 'false', shellopacity($literally_black, 0.09),
                                      shellopacity($literally_black, 0.13));
$borders_edge: shellopacity($literally_black, 0.05);
$top_hilight: $borders_edge;
$borders_highlight: shellopacity($white, 0.07);
$menu_highlight: if($nokto == 'false',
                    $base_color,
                    mix($secondary_base_color, $white, 98%));
$insensitive_borders_color: $borders_color;

$link_color: $orange;
$link_visited_color: darken($orange, 0.5);

$warning_color: $yellow;
$error_color: $red;
$success_color: $green;

$suggested_color: $key_suggestion_color;


//
// OSD Foreground colors
//

$osd_fg_color: if($nokto == 'false', $inverted_fg_color, $fg_color);
$osd_secondary_fg_color: shellopacity($osd_fg_color, 0.75);

$osd_dim_fg_color: shellopacity($osd_fg_color, 0.5);

$insensitive_osd_fg_color: shellopacity($osd_fg_color, 0.4);
$insensitive_osd_secondary_fg_color: shellopacity($osd_secondary_fg_color, 0.4);


//
// OSD Background colors
//

$osd_bg_color: mix($black, $literally_black, 80%);
$osd_base_color: if($nokto == 'false', $inverted_base_color, $bg_color);

$osd_fill_color: shellopacity($osd_fg_color, 0.4);
$osd_semi_fill_color: shellopacity($osd_fg_color, 0.2);
$osd_slight_fill_color: shellopacity($osd_fg_color, 0.12);

$osd_indicator_color: $accent_color;

$osd_borders_color: $borders_color;
$osd_outer_borders_color: transparent;
$tooltip_borders_color: $osd_borders_color;

$insensitive_osd_fill_color: shellopacity($osd_fill_color, 0.4);

