//
// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant
//

@function gtkalpha($c, $a) {
  @return unquote("alpha(#{$c}, #{$a})");
}

@function gtkopacity($c, $a) {
  @return scale-color($c, $alpha: percentage(-1 + $a));
}

// Import key colour-scheme defined at build-time.
@import 'key_colors';


//
// A Color palette
//
// Pop uses the System76 palette

$almost_white:      #f2f2f2;
$warm_gray:         #574f4a;
$dark_gray:         #574e4a;
$dark_neutral_gray: #333;
$light_gray:        #999;
$literally_black:   #000;
$medium_gray:       #888;
$white:             #fff;


// Brand Colors
$orange: #faa41a; // Pantone 137c  #eaa124
$blue:   #48b9c7; // Pantone 7709c #62b5bb
$yellow: #ffce51; // Pantone 1225c #f2c150
$red:    #f15d22; // Pantone 1665c #df6426
$green:  #73c48f; // Confirmation/success

$black: $key_background_color;

//
// Foreground colors
//

$fg_color: if($variant == 'light', #263238,                     // = BluGry900
                                   #CFD8DC);                    // = BluGry100
$secondary_fg_color: gtkopacity($fg_color, 0.75);
$tertiary_fg_color: gtkopacity($fg_color, 0.5);

$white_color:   $almost_white;                                    // = White
$white80_color: gtkopacity($white_color, 0.8);
$white70_color: gtkopacity($white_color, 0.7);

$insensitive_text_color:   gtkopacity($text_color, 0.2);
$insensitive_text80_color: gtkopacity($text80_color, 0.2);
$insensitive_text70_color: gtkopacity($text70_color, 0.2);

$insensitive_white_color:   gtkopacity($white_color, 0.3);
$insensitive_white80_color: gtkopacity($white80_color, 0.3);
$insensitive_white70_color: gtkopacity($white70_color, 0.3);

// preview text on empty GtkEntry
$placeholder_text_color: if($variant == 'light', #CFD8DC,       // = BluGry100
                                                 #546E7A);      // = BluGry600


//
// Inverted foreground colors
//

$inverted_fg_color: #CFD8DC;                                    // = BluGry100
$inverted_secondary_fg_color: gtkopacity($inverted_fg_color, 0.75);
$inverted_tertiary_fg_color: gtkopacity($inverted_fg_color, 0.5);

$black_color:             $black;                                 // = BluGry900
$black80_color:           gtkopacity($black_color, 0.8);
$black70_color:           gtkopacity($black_color, 0.7);
$insensitive_black_color: gtkopacity($black_color, 0.2);



//
// Background colors
//
$light_orange: mix($orange, $white, 50%);

$bg_color: if($variant == 'light', mix(#FFFFFF, #ECEFF1, 75%),  // = W _ 50
                                   #263238);                    // = BluGry900
$base_color: if($variant == 'light',
                #FFFFFF,                                        // = White
                mix(#263238, #37474F, 85%));                    // = 900 _ 800
$secondary_base_color: mix($base_color, $bg_color, 50%);        // = W _ 50
$light_color: if($variant == 'light',
                 $base_color,                                   // = White
                 mix(#263238, #37474F, 50%));                   // = 900 _ 800
$dark_color: if($variant == 'light',
                mix(#ECEFF1, #CFD8DC, 75%),                     // =  50 _ 100
                mix(#263238, #000000, 90%));                    // = 900 _ Blk
$secondary_dark_color: if($variant == 'light',
                          mix(#FFFFFF, #ECEFF1, 60%),           // = W _ 50
                          mix(#263238, #000000, 95%));          // = 900 _ Blk


//
// Dark background colors on light variant
//

$inverted_bg_color: #263238;                                    // = BluGry900
$inverted_base_color: mix(#263238, #37474F, 85%);               // = 900 _ 800
$inverted_dark_color: mix(#263238, #000000, 90%);               // = 900 _ Blk


//
// Selection (content) colors
//

// Default: #48B9C7                                               // = Teal300
$blue_color:                    $key_selection_color;
// Default: #3DEFFF                                               // = Cyan300
$secondary_blue_color:          $key_secondary_selection_color;
$blue_label_color:              if($variant == 'light',
                                    mix($blue_color, $text_color, 80%),
                                    mix($blue_color, $text_color, 60%));
$blue90_color:                  gtkopacity($blue_color, 0.9);
$blue90_label_color:            gtkopacity($blue90_color, 0.9);

$inverted_blue_label_color:     mix($blue_color, $dark_text_color, 60%);
$inverted_blue90_label_color:   gtkopacity($inverted_blue_label_color, 0.9);


//
// Accent (context) colors
//

// Default: #FAA41A                                               // = Cyan500
$orange_color:                  $key_accent_color;
$orange_label_color:            if($variant == 'light',
                                    mix($orange_color, $text_color, 80%),
                                    mix($orange_color, $text_color, 60%));
$orange90_color:                gtkopacity($orange_color, 0.9);
$orange90_label_color:          gtkopacity($orange90_color, 0.9);

$inverted_orange_label_color:   mix($orange_color, $dark_text_color, 60%);
$inverted_orange90_label_color: gtkopacity($inverted_orange_label_color, 0.9);


$dark_text10_color:         gtkopacity($dark_text_color, 0.1);
$drop_target_color:         $blue_color;
$drop_target_fill_color:    gtkopacity($drop_target_color, 0.2);


//
// Tracker colors
//

$track_color: gtkalpha(currentColor, 0.2);


//
// Edge colors
//

$borders_color: if($variant == 'light', gtkopacity(#000000, 0.09),
                                        gtkopacity(#000000, 0.13));
$solid_light_borders_color: if($variant == 'light', #E5E9EC, #212B30);
$solid_dark_borders_color: mix($inverted_dark_color, #000000, 0.06);
$top_edge_borders_color: $inverted_base_color;
$paned_borders_color: if($variant == 'light', gtkopacity(#000000, 0.05),
                                              gtkopacity(#000000, 0.07));

$highlight_color: gtkopacity(#FFFFFF, 0.07);
$menu_highlight_color: if($variant == 'light',
                       $base_color,
                       mix($secondary_base_color, #FFFFFF, 98%));

//
// Misc colors
//

$link_color:            $orange_color;                            // = LtBlu500
$link_visited_color:    mix($orange_color, $black, 50%);          // = Purple500

$warning_color: mix($red, $orange, 50%);                          // = Orange500
$error_color:   $red;                                             // = Red500
$success_color: $green;                                           // = GreenA400

// Default: #009688                                               // = Teal500
$suggested_color: $key_suggestion_color;
// Default: #FF5252                                               // = RedA200
$destructive_color: $key_destruction_color;

$info_bg_color:     $blue_color;                                  // = CyanA400
$question_bg_color: $yellow;                                      // = YellwA400
$warning_bg_color:  $warning_color;                               // = OrangA400
$error_bg_color:    $red;                                         // = RedA400


//
// Solid panel color
//

$panel_bg_color: mix(#263238, #000000, 50%);                    // = 900 _ Blk

